<!DOCTYPE html>
<html>
<head>
    <title>Quiz Game</title>
</head>
<body>
    <h2>Rules:</h2>
    <ul>
        <li>3 Teams – Press the Buzzer (First who clicks the buzzer will have the chance to answer…)</li>
        <li>Pressing the buzzer before the question is displayed gets a ‘-1’</li>
        <li>Wrong answer gets ‘-1’</li>
        <li>Answering without clicking the buzzer is not accepted and also gets a ‘-1’</li>
        <li>A team gets a ‘-1’ if they interrupt the other team that won the chance of answering the question.</li>
        <li>20 Seconds per question.</li>
        <li>The ‘Umpire/Judge/whatever’ has the power to give minus points, and no more arguments.(Anyone shouting gets a ‘-1’ to that team, I’M WATCHING YOU…)</li>
    </ul>
    <form method="POST">
        <input type="submit" name="next" value="Next">
    </form>
</body>
</html>
